  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 0 0% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 0 0% 3.9%;

      --primary: 0 0% 9%;
      --primary-foreground: 0 0% 98%;

      --secondary: 0 0% 96.1%;
      --secondary-foreground: 0 0% 9%;

      --muted: 0 0% 96.1%;
      --muted-foreground: 0 0% 45.1%;

      --accent: 0 0% 96.1%;
      --accent-foreground: 0 0% 9%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 89.8%;
      --input: 0 0% 89.8%;
      --ring: 0 0% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;

      --card: 0 0% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 0 0% 9%;

      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;

      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 0 0% 83.1%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  /* styles/globals.css */

@font-face {
  font-family: 'Nasalization';
  src: url('../public/fonts/nasalization-rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Default font for the body */
body {
  font-family: 'Open Sans', sans-serif;
  overflow: scroll;
}
/* global.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  background-color: black;
  background-image:
    linear-gradient(to right, rgba(211, 211, 211, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(211, 211, 211, 0.03) 1px, transparent 1px);
  background-size: 50px 50px;
  background-repeat: repeat;
  background-attachment: fixed;
}




/* Centering the SVG */
.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Takes full viewport height */
  position: relative;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optional: Make SVG smaller */
.center-svg {
  width: 150px;
  height: 150px;
}
/* Background */
.background {
  position: absolute;
  width: 1025.2px;
  height: 1025.2px;
  left: 127px;
  top: 355px;
  z-index: 3;
  overflow-y: hidden;
}

/* Rectangle 18 */
.rectangle-18 {
  position: absolute;
  width: 1021.87px;
  height: 1021.87px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(179.81deg); /* Centering and rotation */
  background: linear-gradient(180deg, rgba(13, 13, 13, 0.0625) 46.67%, rgba(76, 76, 121, 0.1875) 95%);
  border-radius: 998.5px;
}

/* Rectangle 17 */
.rectangle-17 {
  position: absolute;
  width: 893.16px;
  height: 893.16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(179.81deg); /* Centering and rotation */
  background: linear-gradient(180deg, rgba(13, 13, 13, 0.0625) 46.67%, rgba(76, 76, 121, 0.1875) 95%);
  border-radius: 998.5px;
}

/* Rectangle 16 */
.rectangle-16 {
  position: absolute;
  width: 757.23px;
  height: 757.23px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(359.81deg); /* Centering and rotation */
  background: linear-gradient(359.81deg, rgba(13, 13, 13, 0.125) 46.69%, rgba(76, 76, 121, 0.375) 94.85%);
  border-radius: 998.5px;
}
/* InterviewItemCard.css */
.interview-card {
  position: relative;
  z-index: 10; /* Ensure the card comes forward */
  padding: 20px;
  background: #111;
  opacity: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.interview-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.button-container {
  display: flex;

  gap: 5px;
  margin-top: 1rem;
}

.button-container .w-full {
  width: 48%;
}

button:focus {
  outline: none;
  box-shadow: none;
}
/* Add this CSS to bring the QuestionsSection component forward */
.questions-section {
  position: relative;
  z-index: 20; /* Bring it in front */
  padding: 20px;
  background-color: #1a202c; /* Dark background */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.questions-section:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

.question-label {
  cursor: pointer;
}

.question-label.active {
  border-color: white;
  color: white;
}

.question-label.inactive {
  border-color: #4a5568; /* Gray */
  color: #e2e8f0; /* Light gray */
}
